<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h3><img src="https://cdn6.aptoide.com/imgs/b/9/c/b9cac9b36d84fbb1c2159b14c3175e72_icon.png?w=128" alt="URL shortner Logo"></h3>
        <p>Create an Account or Login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-3"
          >Register</a>
        <a href="/users/login" class="btn btn-success btn-block">Login</a>
      </div>
    </div>
  </div>